<h1>Cart</h1>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>1 month</td>
                <td>1000 rub</td>
                <td>
                    <button type="button" class="btn btn-danger">Remove</button>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>6 month</td>
                <td>5000 rub</td>
                <td>
                    <button type="button" class="btn btn-danger">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>