<h1>Packages</h1>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <img src="https://i0.wp.com/www.printablee.com/postpic/2012/08/free-printable-1-month-old-sign_76709.png" class="card-img-top" alt="name">
                <div class="card-body">
                    <h5 class="card-title">1 month</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">More information</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <img src="https://lh3.googleusercontent.com/proxy/-dTd0_Lj1qjw9oTcEEVN6CMNEIaVR6A0KDP43WfmuUUn58cLQlKPG8iD-hhcYY74QUVmF3JnYUBDo0kNeEsN3Rw0CfwraODVxC0" class="card-img-top" alt="name">
                <div class="card-body">
                    <h5 class="card-title">3 months</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">More information</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <img src="https://www.teakauracing.com/wp-content/uploads/2019/01/six-months.png" class="card-img-top" alt="name">
                <div class="card-body">
                    <h5 class="card-title">6 months</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">More information</a>
                </div>
            </div>
        </div>
    </div>
</div>